.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  padding-left: 0px;
  padding-right: 0px;
  overflow: hidden;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.freeBox__orsn6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("./images/leafLightGreysvg.svg") top 50% left 0% / 2127px 2109px repeat;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__orsn6 {
    background: url("./images/leafLightGreysvg.svg") top 50% right 50% / 2190px 810px
      repeat;
  }
}
.freeBox__iaoNq {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 0px;
  background: none;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__iaoNq {
    margin-top: 0px;
    background: url("./images/headerBannerMobilejpg.jpg") top 0% left 50% / contain no-repeat;
  }
}
.img__izb65 {
  position: absolute;
  object-fit: cover;
  max-width: 35%;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  filter: brightness(65%);
  object-position: left center;
  min-width: 0;
  min-height: 0;
}
.img__izb65 > picture > img {
  object-fit: cover;
  object-position: left center;
}
.img__izb65 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
  object-position: left center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__izb65 {
    display: none !important;
  }
}
.header3:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 1300px;
}
.freeBox___5AFna {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  width: 100%;
  align-content: unset;
  background: none;
  max-width: 1300px;
  min-width: 0;
  padding: 25px 32px 71px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5AFna {
    padding-top: 60px;
    padding-bottom: 81px;
    background: none;
  }
}
.link__aKku0 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  border-radius: 5px;
  padding: 6px 0px;
  margin: 0px;
  border: 2px none var(--token-kKh7vTEaQ8LZiP);
}
.link__aKku0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.link__aKku0 > :global(.__wab_flex-container) > *,
.link__aKku0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__aKku0 > :global(.__wab_flex-container) > picture > img,
.link__aKku0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__aKku0 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: none;
    margin-left: 0px;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px none var(--token-kKh7vTEaQ8LZiP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__aKku0 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__aKku0 > :global(.__wab_flex-container) > *,
  .link__aKku0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__aKku0 > :global(.__wab_flex-container) > picture > img,
  .link__aKku0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.svg__fj1L1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zdH3InyQjTv2TU);
  width: 20px;
  height: 20px;
  flex-shrink: 0;
}
.text__gkgby {
  width: auto;
  height: auto;
  color: var(--token-kKh7vTEaQ8LZiP);
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gkgby {
    font-size: 16px;
    width: auto;
    height: auto;
    color: var(--token-kKh7vTEaQ8LZiP);
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.foreground2 {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1300px;
  align-self: flex-start;
  padding-top: 15px;
  min-width: 0;
}
.foreground2 > :global(.__wab_flex-container) {
  flex-direction: column;
  min-width: 0;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.foreground2 > :global(.__wab_flex-container) > *,
.foreground2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.foreground2 > :global(.__wab_flex-container) > picture > img,
.foreground2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.columns__gg3Fz {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 0px;
}
.columns__gg3Fz > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 60px);
  width: calc(100% + 60px);
}
.columns__gg3Fz > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__gg3Fz > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 60px) * 6 / 12);
}
.columns__gg3Fz > :global(.__wab_flex-container) > *,
.columns__gg3Fz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__gg3Fz > :global(.__wab_flex-container) > picture > img,
.columns__gg3Fz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 60px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gg3Fz {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gg3Fz > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 40px);
    height: calc(100% + 40px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gg3Fz > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 60px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gg3Fz > :global(.__wab_flex-container) > *,
  .columns__gg3Fz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__gg3Fz > :global(.__wab_flex-container) > picture > img,
  .columns__gg3Fz
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 40px;
  }
}
.column__mHWfj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img__qXmLh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 4px 16px 0px #00000033;
}
.img__qXmLh > picture > img {
  object-fit: cover;
}
.img__qXmLh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column__jZaD4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__jZaD4 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__jZaD4 > :global(.__wab_flex-container) > *,
.column__jZaD4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jZaD4 > :global(.__wab_flex-container) > picture > img,
.column__jZaD4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h3 {
  font-size: 42px;
  font-weight: 700;
  line-height: 1;
  color: var(--token-2oj9BAVdFp_wVu);
  text-align: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h3 {
    font-size: 35px;
  }
}
.text__r1YRe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2oj9BAVdFp_wVu);
  font-size: 24px;
  min-width: 0;
}
.h5___9MwX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  line-height: 34px;
  font-size: 32px;
  min-width: 0;
}
.freeBox__qkpPn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.text__iIi2A {
  position: relative;
  font-size: 20px;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  text-transform: capitalize;
}
.freeBox__e5A8P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__e5A8P {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.link__oGAg0 {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-zdH3InyQjTv2TU);
  border-radius: 8px;
  padding: 12px 32px;
  border: 2px solid var(--token-kKh7vTEaQ8LZiP);
}
.link__oGAg0 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.link__oGAg0 > :global(.__wab_flex-container) > *,
.link__oGAg0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__oGAg0 > :global(.__wab_flex-container) > picture > img,
.link__oGAg0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oGAg0 {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    background: var(--token-zdH3InyQjTv2TU);
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token-kKh7vTEaQ8LZiP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oGAg0 > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-left: calc(0px - 6px);
    width: calc(100% + 6px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__oGAg0 > :global(.__wab_flex-container) > *,
  .link__oGAg0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__oGAg0 > :global(.__wab_flex-container) > picture > img,
  .link__oGAg0
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 6px;
    margin-top: 0px;
  }
}
.svg___7LSl4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kKh7vTEaQ8LZiP);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text__z08Xr {
  width: auto;
  height: auto;
  color: var(--token-kKh7vTEaQ8LZiP);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__z08Xr {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token-kKh7vTEaQ8LZiP);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.header {
  max-width: 1140px;
  width: 100%;
  height: auto;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  display: none;
}
.freeBox__drQe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100vw;
  background: none;
}
.freeBox__drQe > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox__drQe > :global(.__wab_flex-container) > *,
.freeBox__drQe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__drQe > :global(.__wab_flex-container) > picture > img,
.freeBox__drQe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 32px;
}
.freeBox__iyluw {
  max-width: 1380px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.header2:global(.__wab_instance) {
  margin-top: 0px;
  width: 100%;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .header2:global(.__wab_instance) {
    margin-top: 0px;
  }
}
.freeBox__yiLut {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 64px;
  margin-bottom: 64px;
  display: none;
}
.h2__sudWk {
  position: relative;
}
.columns__qPnot {
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px 8px 72px;
}
.columns__qPnot > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  min-width: 0;
  margin-left: calc(0px - 50px);
  width: calc(100% + 50px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.columns__qPnot > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__qPnot > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__qPnot > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__qPnot > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 50px) * 3 / 12);
}
.columns__qPnot > :global(.__wab_flex-container) > *,
.columns__qPnot > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__qPnot > :global(.__wab_flex-container) > picture > img,
.columns__qPnot
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 50px;
  margin-top: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qPnot {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qPnot > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qPnot > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 50px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__qPnot > :global(.__wab_flex-container) > *,
  .columns__qPnot > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__qPnot > :global(.__wab_flex-container) > picture > img,
  .columns__qPnot
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 32px;
  }
}
.column__gsFrT {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___7Frew:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard___7Frew:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__crQHa {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__crQHa > picture > img {
  object-fit: cover;
}
.img__crQHa > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__nIowb:global(.__wab_instance) {
  position: relative;
}
.column__inMo9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard___19PfO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__cCgf9 {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__cCgf9 > picture > img {
  object-fit: cover;
}
.img__cCgf9 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__h4Dos:global(.__wab_instance) {
  position: relative;
}
.column__f3SlS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__err4B:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__fh4BL {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__fh4BL > picture > img {
  object-fit: cover;
}
.img__fh4BL > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__xqV7G:global(.__wab_instance) {
  position: relative;
}
.column__khvAe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__oPWhO:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__beYjq {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__beYjq > picture > img {
  object-fit: cover;
}
.img__beYjq > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__wEzTt:global(.__wab_instance) {
  position: relative;
}
.featureItem:global(.__wab_instance) {
  position: relative;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.freeBox__v0Tbs {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: 16px;
  margin-bottom: 64px;
  display: none;
}
.text__f6Zi2 {
  position: relative;
  color: var(--token-E9dI-03lUai7EL);
  font-size: 30px;
  font-weight: 500;
}
.columns__ywEnx {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__ywEnx > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 36px);
  width: calc(100% + 36px);
}
.columns__ywEnx > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__ywEnx > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__ywEnx > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__ywEnx > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 36px) * 3 / 12);
}
.columns__ywEnx > :global(.__wab_flex-container) > *,
.columns__ywEnx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__ywEnx > :global(.__wab_flex-container) > picture > img,
.columns__ywEnx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ywEnx {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ywEnx > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 10px);
    height: calc(100% + 10px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ywEnx > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ywEnx > :global(.__wab_flex-container) > *,
  .columns__ywEnx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__ywEnx > :global(.__wab_flex-container) > picture > img,
  .columns__ywEnx
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 10px;
  }
}
.column__xdnFw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__adCtR:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.text__wh50U {
  height: auto;
}
.text__zQ3QH {
  height: auto;
}
.img__pqhxR {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__pqhxR > picture > img {
  object-fit: cover;
}
.img__pqhxR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__sq6Ey:global(.__wab_instance) {
  position: relative;
}
.column___3OtQw {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__zuXux:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__aGkIc {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__aGkIc > picture > img {
  object-fit: cover;
}
.img__aGkIc > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__esO1J:global(.__wab_instance) {
  position: relative;
}
.column__eSgOz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__s3Ne9:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__vUoCe {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__vUoCe > picture > img {
  object-fit: cover;
}
.img__vUoCe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings__usdjD:global(.__wab_instance) {
  position: relative;
}
.column___1Hf0L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.productCard__gt4Iu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .productCard__gt4Iu:global(.__wab_instance) {
    flex-shrink: 0;
  }
}
.img__nVhBi {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__nVhBi > picture > img {
  object-fit: cover;
}
.img__nVhBi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.ratings___2Zv8A:global(.__wab_instance) {
  position: relative;
}
.freeBox__ms5Yx {
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  display: none;
}
.text__rLd {
  position: relative;
  color: var(--token-E9dI-03lUai7EL);
  font-size: 30px;
  font-weight: 500;
}
.columns__mqWp5 {
  position: relative;
  flex-direction: row;
  margin-bottom: 64px;
  margin-top: 16px;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  display: none;
  padding: 8px;
}
.columns__mqWp5 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.columns__mqWp5 > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__mqWp5 > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__mqWp5 > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 32px) * 4 / 12);
}
.columns__mqWp5 > :global(.__wab_flex-container) > *,
.columns__mqWp5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__mqWp5 > :global(.__wab_flex-container) > picture > img,
.columns__mqWp5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mqWp5 {
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mqWp5 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mqWp5 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 32px) * 12 / 12);
  }
}
.column__xw8Q {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__uJjZk:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__htv6F {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__htv6F > picture > img {
  object-fit: cover;
}
.img__htv6F > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___3FxV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__dp7Ef:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__fNw7L {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__fNw7L > picture > img {
  object-fit: cover;
}
.img__fNw7L > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.column___7Ebrs {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
}
.blogPost__eRaJa:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.img__yflCz {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__yflCz > picture > img {
  object-fit: cover;
}
.img__yflCz > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___2CTeY {
  position: relative;
  flex-direction: row;
  width: 100vw;
  height: auto;
  overflow: auto;
  background: var(--token-PAqTK6YxJeukBo);
  display: none;
  padding: 48px;
}
.freeBox___2CTeY > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: calc(0px - 64px);
  width: calc(100% + 64px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.freeBox___2CTeY > :global(.__wab_flex-container) > *,
.freeBox___2CTeY > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2CTeY > :global(.__wab_flex-container) > picture > img,
.freeBox___2CTeY
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 64px;
  margin-top: 32px;
}
.img__l32M7 {
  position: relative;
  object-fit: cover;
  width: 90px;
  height: 60px;
  flex-shrink: 0;
}
.img__l32M7 > picture > img {
  object-fit: cover;
}
.img__l32M7 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__qY1IA {
  position: relative;
  object-fit: cover;
  width: 91px;
  height: 60px;
  flex-shrink: 0;
}
.img__qY1IA > picture > img {
  object-fit: cover;
}
.img__qY1IA > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__uhVt0 {
  position: relative;
  object-fit: cover;
  width: 98px;
  height: 60px;
  flex-shrink: 0;
}
.img__uhVt0 > picture > img {
  object-fit: cover;
}
.img__uhVt0 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img___3LkRi {
  position: relative;
  object-fit: cover;
  width: 124px;
  height: 60px;
  flex-shrink: 0;
}
.img___3LkRi > picture > img {
  object-fit: cover;
}
.img___3LkRi > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.img__o0Oyd {
  position: relative;
  object-fit: cover;
  width: 125px;
  height: 60px;
  flex-shrink: 0;
}
.img__o0Oyd > picture > img {
  object-fit: cover;
}
.img__o0Oyd > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.footer___6NzNh:global(.__wab_instance) {
  position: relative;
  display: none;
}
.bigPlants {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.bigPlants > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.bigPlants > :global(.__wab_flex-container) > *,
.bigPlants > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.bigPlants > :global(.__wab_flex-container) > picture > img,
.bigPlants
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__o59Fb {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__o59Fb > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__o59Fb > :global(.__wab_flex-container) > *,
.freeBox__o59Fb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o59Fb > :global(.__wab_flex-container) > picture > img,
.freeBox__o59Fb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__frS51 {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-hmjawocb9kPF6H);
}
.columns___47KRq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns___47KRq > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns___47KRq > :global(.__wab_flex-container) > :nth-child(3n + 1) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns___47KRq > :global(.__wab_flex-container) > :nth-child(3n + 2) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns___47KRq > :global(.__wab_flex-container) > :nth-child(3n + 3) {
  width: calc((100% - 3 * 15px) * 4 / 12);
}
.columns___47KRq > :global(.__wab_flex-container) > *,
.columns___47KRq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns___47KRq > :global(.__wab_flex-container) > picture > img,
.columns___47KRq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___47KRq {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___47KRq > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___47KRq > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__mvT4Z {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__mvT4Z > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__mvT4Z > :global(.__wab_flex-container) > *,
.column__mvT4Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mvT4Z > :global(.__wab_flex-container) > picture > img,
.column__mvT4Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__iRiA1 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-8Aki3wJyIho8Ik);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__iRiA1 > picture > img {
  object-fit: cover;
}
.img__iRiA1 > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__yc1A3 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-kKh7vTEaQ8LZiP);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg___0RcDb {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zdH3InyQjTv2TU);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__tBv71 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__ywXGr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  font-size: 24px;
  min-width: 0;
}
.text__hxi2S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2oj9BAVdFp_wVu);
  min-width: 0;
}
.h5__bs8Du {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  line-height: 34px;
  min-width: 0;
}
.column__mKnmy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__mKnmy > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__mKnmy > :global(.__wab_flex-container) > *,
.column__mKnmy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__mKnmy > :global(.__wab_flex-container) > picture > img,
.column__mKnmy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__gMrFh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-8Aki3wJyIho8Ik);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__gMrFh > picture > img {
  object-fit: cover;
}
.img__gMrFh > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___1Ze0M {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-kKh7vTEaQ8LZiP);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__tkBGh {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zdH3InyQjTv2TU);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__pWplI {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__bEfw2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  font-size: 24px;
  min-width: 0;
}
.text__oSdy6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2oj9BAVdFp_wVu);
  min-width: 0;
}
.h5__fimOi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  line-height: 34px;
  min-width: 0;
}
.column__faLe {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__faLe > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__faLe > :global(.__wab_flex-container) > *,
.column__faLe > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__faLe > :global(.__wab_flex-container) > picture > img,
.column__faLe
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img___7X4Cn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-8Aki3wJyIho8Ik);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___7X4Cn > picture > img {
  object-fit: cover;
}
.img___7X4Cn > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__aEUkw {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-kKh7vTEaQ8LZiP);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__izSWp {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zdH3InyQjTv2TU);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__feYz3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__raqSs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  font-size: 24px;
  min-width: 0;
}
.text__nYbwZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2oj9BAVdFp_wVu);
  min-width: 0;
}
.h5__rgngp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  line-height: 34px;
  min-width: 0;
}
.img___3FtHy {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-8Aki3wJyIho8Ik);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img___3FtHy > picture > img {
  object-fit: cover;
}
.img___3FtHy > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__anD88 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-kKh7vTEaQ8LZiP);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__kfbe4 {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zdH3InyQjTv2TU);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__eCRqs {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___2GMwr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  font-size: 24px;
  min-width: 0;
}
.text___5XtzF {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2oj9BAVdFp_wVu);
  min-width: 0;
}
.h5__rBLr {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  line-height: 34px;
  min-width: 0;
}
.cactuses {
  max-width: 1300px;
  width: 100%;
  height: auto;
  flex-direction: column;
  padding-bottom: 80px;
  min-width: 0;
  display: none;
  margin: 0px;
}
.cactuses > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.cactuses > :global(.__wab_flex-container) > *,
.cactuses > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.cactuses > :global(.__wab_flex-container) > picture > img,
.cactuses
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.freeBox__rRxH2 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__rRxH2 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rRxH2 > :global(.__wab_flex-container) > *,
.freeBox__rRxH2 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rRxH2 > :global(.__wab_flex-container) > picture > img,
.freeBox__rRxH2
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.h2__ezrTe {
  position: relative;
  width: auto;
  height: auto;
  color: var(--token-hmjawocb9kPF6H);
}
.columns__tTq6D {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  flex-direction: row;
  min-width: 0;
  padding: 8px;
}
.columns__tTq6D > :global(.__wab_flex-container) {
  align-items: stretch;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 15px);
  width: calc(100% + 15px);
}
.columns__tTq6D > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__tTq6D > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__tTq6D > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__tTq6D > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * 15px) * 3 / 12);
}
.columns__tTq6D > :global(.__wab_flex-container) > *,
.columns__tTq6D > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tTq6D > :global(.__wab_flex-container) > picture > img,
.columns__tTq6D
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 15px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tTq6D {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tTq6D > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tTq6D > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 15px) * 12 / 12);
  }
}
.column__cnKyQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__cnKyQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__cnKyQ > :global(.__wab_flex-container) > *,
.column__cnKyQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__cnKyQ > :global(.__wab_flex-container) > picture > img,
.column__cnKyQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__jePco {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-8Aki3wJyIho8Ik);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__jePco > picture > img {
  object-fit: cover;
}
.img__jePco > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__poopA {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-kKh7vTEaQ8LZiP);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__dldaV {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zdH3InyQjTv2TU);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__tFkMw {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__xHNv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  font-size: 24px;
  min-width: 0;
}
.text__o7TAb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2oj9BAVdFp_wVu);
  min-width: 0;
}
.h5__tCwm8 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  line-height: 34px;
  min-width: 0;
}
.column__vqz9T {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__vqz9T > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__vqz9T > :global(.__wab_flex-container) > *,
.column__vqz9T > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__vqz9T > :global(.__wab_flex-container) > picture > img,
.column__vqz9T
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__jrMre {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-8Aki3wJyIho8Ik);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__jrMre > picture > img {
  object-fit: cover;
}
.img__jrMre > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__gnskP {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-kKh7vTEaQ8LZiP);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__bNywn {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zdH3InyQjTv2TU);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__rKyB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__sAYjp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  font-size: 24px;
  min-width: 0;
}
.text__yAxyl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2oj9BAVdFp_wVu);
  min-width: 0;
}
.h5__g9Ex {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  line-height: 34px;
  min-width: 0;
}
.column__yFlKi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__yFlKi > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__yFlKi > :global(.__wab_flex-container) > *,
.column__yFlKi > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__yFlKi > :global(.__wab_flex-container) > picture > img,
.column__yFlKi
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__ly7JR {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-8Aki3wJyIho8Ik);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__ly7JR > picture > img {
  object-fit: cover;
}
.img__ly7JR > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox__zSk2 {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-kKh7vTEaQ8LZiP);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__r8NB {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zdH3InyQjTv2TU);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__dU6Aj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link__bH8O1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  font-size: 24px;
  padding-bottom: 0px;
  min-width: 0;
}
.text__j1FkL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2oj9BAVdFp_wVu);
  min-width: 0;
}
.h5__bxSyj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  line-height: 34px;
  min-width: 0;
}
.column__cq1DQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column__cq1DQ > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.column__cq1DQ > :global(.__wab_flex-container) > *,
.column__cq1DQ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__cq1DQ > :global(.__wab_flex-container) > picture > img,
.column__cq1DQ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.img__gHuCe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  box-shadow: 0px 5px 16px 0px #00000054;
  width: 100%;
  height: var(--token-8Aki3wJyIho8Ik);
  min-width: 0;
  flex-shrink: 0;
  border-radius: 24px;
}
.img__gHuCe > picture > img {
  object-fit: cover;
}
.img__gHuCe > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
.freeBox___4CGlN {
  display: flex;
  position: absolute;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  max-width: 100%;
  left: auto;
  top: 51%;
  right: 5%;
  background: var(--token-kKh7vTEaQ8LZiP);
  flex-shrink: 0;
  border-radius: 8px;
  padding: 8px;
}
.svg__ygwCd {
  object-fit: cover;
  max-width: 100%;
  color: var(--token-zdH3InyQjTv2TU);
  width: 30px;
  height: 30px;
  flex-shrink: 0;
}
.freeBox__xY1W3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.link___9Hbdw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  font-size: 24px;
  min-width: 0;
}
.text__brqYw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--token-2oj9BAVdFp_wVu);
  min-width: 0;
}
.h5__ccHmL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-2oj9BAVdFp_wVu);
  line-height: 34px;
  min-width: 0;
}
.footer__tMAde:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
