.root {
  display: flex;
  width: 100%;
  height: 723px;
  position: relative;
  flex-direction: column;
  background: var(--token-kKh7vTEaQ8LZiP);
  min-width: 0;
}
.freeBox__sOr5Y {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  min-width: 0;
  padding: 0px;
}
.columns__cTk3J {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__cTk3J > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 2 / 12);
}
.columns__cTk3J > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 10 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cTk3J {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__cTk3J > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__dlMWn {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: 0px;
  margin-bottom: 0px;
  width: 947px;
  height: 562px;
  flex-shrink: 0;
}
.img > picture > img {
  object-fit: cover;
}
.img > :global(.__wab_img-spacer) > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img {
    margin: 0px;
  }
}
.column__pcncK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 100px;
}
.column__pcncK > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column__pcncK > :global(.__wab_flex-container) > *,
.column__pcncK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__pcncK > :global(.__wab_flex-container) > picture > img,
.column__pcncK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.h1 {
  font-size: 64px;
  font-weight: 700;
  line-height: 72.3px;
  color: var(--token-2oj9BAVdFp_wVu);
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-2oj9BAVdFp_wVu);
    text-align: center;
    padding-bottom: 0px;
  }
}
.columns___5AJ9N {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns___5AJ9N > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___5AJ9N > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___5AJ9N > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5AJ9N {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5AJ9N > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__gJxB {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  border-right-style: solid;
  border-right-width: 1px;
  min-width: 0;
}
.column__gJxB > :global(.__wab_flex-container) {
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__gJxB > :global(.__wab_flex-container) > *,
.column__gJxB > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__gJxB > :global(.__wab_flex-container) > picture > img,
.column__gJxB
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text___8Wguo {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8Wguo {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-2oj9BAVdFp_wVu);
    text-align: center;
    padding-bottom: 0px;
  }
}
.text__ur3XR {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: auto;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ur3XR {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-2oj9BAVdFp_wVu);
    text-align: center;
    padding-bottom: 0px;
  }
}
.column__j3Ju {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px 8px 8px 60px;
}
.column__j3Ju > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 30px);
  height: calc(100% + 30px);
}
.column__j3Ju > :global(.__wab_flex-container) > *,
.column__j3Ju > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__j3Ju > :global(.__wab_flex-container) > picture > img,
.column__j3Ju
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 30px;
}
.text__bwWbw {
  font-size: 20px;
  font-weight: 400;
  color: #384647ad;
  text-align: left;
  width: 100%;
  height: auto;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__bwWbw {
    font-size: 35px;
    font-weight: 700;
    line-height: 1;
    color: var(--token-2oj9BAVdFp_wVu);
    text-align: center;
    padding-bottom: 0px;
  }
}
.freeBox__hp5Y {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__hp5Y {
    align-items: center;
    justify-content: center;
    display: flex;
    position: relative;
    flex-direction: row;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
    padding: 0px;
  }
}
.link__o2T8U {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-zdH3InyQjTv2TU);
  border-radius: 5px;
  padding: 6px 22px;
  border: 2px solid var(--token-kKh7vTEaQ8LZiP);
}
.link__o2T8U > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 6px);
  width: calc(100% + 6px);
}
.link__o2T8U > :global(.__wab_flex-container) > *,
.link__o2T8U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.link__o2T8U > :global(.__wab_flex-container) > picture > img,
.link__o2T8U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 6px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__o2T8U {
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
    max-width: 100%;
    border-radius: 5px;
    padding: 6px 22px;
    border: 2px solid var(--token-kKh7vTEaQ8LZiP);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__o2T8U > :global(.__wab_flex-container) {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__o2T8U > :global(.__wab_flex-container) > *,
  .link__o2T8U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .link__o2T8U > :global(.__wab_flex-container) > picture > img,
  .link__o2T8U
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 0px;
  }
}
.svg___0RSps {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-kKh7vTEaQ8LZiP);
  width: 24px;
  height: 25px;
  flex-shrink: 0;
}
.text__hnYfd {
  width: auto;
  height: auto;
  color: var(--token-kKh7vTEaQ8LZiP);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.2px;
  font-family: "Poppins", sans-serif;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hnYfd {
    font-size: 20px;
    width: auto;
    height: auto;
    color: var(--token-kKh7vTEaQ8LZiP);
    font-weight: 600;
    letter-spacing: 0.2px;
    font-family: "Poppins", sans-serif;
  }
}
.column__xvBbZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__yuQtj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  align-self: center;
  background: #384647;
  min-width: 0;
  padding: 8px;
  margin: 0px;
}
.freeBox___8X57F {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  background: none;
  min-width: 0;
  padding: 2px 16px 27px;
}
.freeBox___8X57F > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8X57F > :global(.__wab_flex-container) > *,
.freeBox___8X57F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8X57F > :global(.__wab_flex-container) > picture > img,
.freeBox___8X57F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8X57F {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8X57F > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__uxCjr {
  display: flex;
  width: 1300px;
  height: auto;
  margin-top: calc(0px + 16px) !important;
  padding: 50px 0px 0px;
}
.freeBox__uxCjr > :global(.__wab_flex-container) {
  justify-content: space-between;
  align-items: center;
  margin-left: calc(0px - 5px);
  width: calc(100% + 5px);
}
.freeBox__uxCjr > :global(.__wab_flex-container) > *,
.freeBox__uxCjr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__uxCjr > :global(.__wab_flex-container) > picture > img,
.freeBox__uxCjr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uxCjr {
    display: flex;
    width: 100%;
    height: auto;
    margin-top: calc(0px + 16px) !important;
    min-width: 0;
    padding: 16px 5px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uxCjr > :global(.__wab_flex-container) {
    justify-content: space-between;
    align-items: stretch;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - 5px);
    width: calc(100% + 5px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uxCjr > :global(.__wab_flex-container) > *,
  .freeBox__uxCjr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uxCjr > :global(.__wab_flex-container) > picture > img,
  .freeBox__uxCjr
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 5px;
  }
}
.menuButton:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
  display: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menuButton:global(.__wab_instance) {
    position: relative;
    flex-shrink: 0;
    display: none;
  }
}
.freeBox__tc9BG {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 8px;
}
.freeBox__tc9BG > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
}
.freeBox__tc9BG > :global(.__wab_flex-container) > *,
.freeBox__tc9BG > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tc9BG > :global(.__wab_flex-container) > picture > img,
.freeBox__tc9BG
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tc9BG {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tc9BG > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    align-items: stretch;
    align-content: flex-start;
    justify-content: center;
    min-width: 0;
  }
}
.svg__tIo5Y {
  object-fit: cover;
  max-width: 100%;
  width: 107px;
  height: 45px;
  flex-shrink: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__tIo5Y {
    width: 100%;
    min-width: 0;
  }
}
.link__yIKnX {
  color: var(--token-hmjawocb9kPF6H);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__yIKnX {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-hmjawocb9kPF6H);
  }
}
.link__bNeP {
  color: var(--token-hmjawocb9kPF6H);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__bNeP {
    font-size: 16px;
  }
}
.link__il1Dy {
  color: var(--token-hmjawocb9kPF6H);
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__il1Dy {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: var(--token-hmjawocb9kPF6H);
  }
}
.freeBox___5Yei5 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___5Yei5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    min-width: 0;
  }
}
.text__yJ4RJ {
  position: relative;
  color: var(--token-hmjawocb9kPF6H);
  font-size: 20px;
  text-align: left;
  font-weight: 500;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yJ4RJ {
    font-size: 12px;
    width: auto;
  }
}
.link__fwcV {
  position: relative;
  color: var(--token-zdH3InyQjTv2TU);
  font-size: 20px;
  font-weight: 500;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 768px) {
  .link__fwcV {
    font-size: 12px;
    width: auto;
  }
}
.root .link__fwcV:hover {
  text-decoration-line: underline;
}
